body{
    padding: 100px 100px 0px 100px; 
}

p {
    font-size: 100px;
    padding: 50px;
    text-align: center; 
    font-weight: bold;
}

footer {
    display: flex; 
    justify-content: center;
}

input {
    width: 150px;
    height: 90px;
    margin: 0px 30px 0px 30px;
    font-size: 50px;
    text-align: center;
    border-radius: 15%;
    border: 5px solid gray; 
}

button {
    width: 100px;
    font-size: 75px;
    background-color: gray;
    color: white;
    border-radius: 15%;
    border: none;
}

button:hover {
    background-color: white; 
    color: gray;
    border: 2px solid gray; 
}